* {
    box-sizing: border-box;
    transition: all 0.25s;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    --background-rgb: 255, 255, 255;
    --background: rgb(var(--background-rgb));
    --foreground-rgb: 36, 36, 36;
    --foreground: rgb(var(--foreground-rgb));
    --background-1: #F5F5F5;
    --background-2: #ededed;
    --border: #DBDBDB;
    --primary-rgb: 72, 143, 225;
    --primary: rgb(var(--primary-rgb));
    --destructive-rgb: 230, 44, 44;
    --destructive: rgb(var(--destructive-rgb));

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background);
    color: var(--foreground);
}

a {
    font-weight: 400;
    color: var(--foreground);
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    transition: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}